input[type="number"] {
    -webkit-user-select: text;
}

body{
    background-color: #CACACA;
    font-family: 'Lato-Light', sans-serif;
}

#barraLateral{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:79px;
    z-index: 100;
    background-color:#222;
}

#barraSuperior{
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:90px;
    background-color: #FFF;
    z-index: 101;
    border-bottom:1px solid #CACACA;
}

#knobSInstituManual{
    position:absolute;
    width:50px;
    height:50px;
    /*background-color:#F00;*/
    border-radius: 25px;
    left:50%;
    margin-left:-25px;
    top:-2px;
    pointer-events: none;
    z-index: 100;
}

#knobSInstituManual img{
    margin-left:-5px;
    margin-top:-5px;
}

#selectorInstituManual{
    position: absolute;
    left:50%;
    width:419px;
    top:150px;
    margin-left:-210px;
    height:45px;
}

#imgSelecInstitutManual{
    position:absolute;
    height:50px;
    pointer-events: none;
}

#contentInfo{
    position:absolute;
    width:945px;
    height:679px;
    right:0;
    bottom:0;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #cbe4e3 66%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(66%,#cbe4e3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#cbe4e3 66%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#cbe4e3 66%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#cbe4e3 66%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#cbe4e3 66%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbe4e3',GradientType=0 ); /* IE6-9 */
}

#contentInfoR{
    position:absolute;
    left:0;
    top:0;
    right:0;
    bottom:0;
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #cbe4e3 66%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(66%,#cbe4e3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#cbe4e3 66%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#cbe4e3 66%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#cbe4e3 66%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#cbe4e3 66%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbe4e3',GradientType=0 ); /* IE6-9 */
}

#infoViewport{
    position:absolute;
    width:800px;
    height:600px;
    left:50%;
    margin-left:-400px;
    top:50%;
    margin-top:-300px;
    background-color: #c0e1e4;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 25px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 25px -4px rgba(0,0,0,0.75);
box-shadow: 0px 3px 25px -4px rgba(0,0,0,0.75);
}

#headerViewport{
    font-family: 'Lato-Black', sans-serif;
    height:80px;
    width:100%;
    background-color:#30333b;
    color:#FFF;
    font-weight: 100;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    letter-spacing: 0.09em;
}

#headerViewportR{
    font-family: 'Lato-Black', sans-serif;
    height:150px;
    width:100%;
    background-color:#30333b;
    color:#FFF;
    font-weight: 100;
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    letter-spacing: 0.09em;
    background-size: 100% 100%;
}

#contentInstitucion{
    position:absolute;
    bottom:80px;
    left:0;
    right:0;
    height:300px;
    background-color:#30333b;
    display: none;

}

#formInstitucion{
    position:absolute;
    left:50%;
    width:400px;
    margin-left:-200px;
    color:#FFF;
}

.tituloForm{
    font-family: 'Lato-Black', sans-serif;
    float:left;
    height:30px;
    line-height:30px;
    font-size:20px;
    width:210px;
    margin-top:25px;
    letter-spacing:0.06em;
}

#contentManual{
    position:absolute;
    bottom:80px;
    left:0;
    right:0;
    height:300px;
    background-color:#30333b;
    display: none;

}

#formManual{
    position:absolute;
    left:50%;
    width:400px;
    margin-left:-200px;
    color:#FFF;
}

#btnPoblacion{
    background-image: url(imgs/layout/btnPoblacion.png);
    background-size:100% auto;
    width:85px;
    height:80px;
    margin-top:90px;
}

#btnPrevalencias{
    background: url(imgs/layout/btnPrevalencias.png);
    background-size:100% auto;
    width:85px;
    height:80px;
}

#btnComparativas{
    background: url(imgs/layout/btnComparativas.png);
    background-size:100% auto;
    width:85px;
    height:80px;
}

#btnResultados{
    background: url(imgs/layout/btnResultados.png);
    background-size:100% auto;
    width:85px;
    height:80px;
}

#btnCostos{
    background: url(imgs/layout/btnCostos.png);
    background-size:100% auto;
    width:85px;
    height:80px;
}

#btnReporte{
    background: url(imgs/layout/btnReporte.png);
    background-size:100% auto;
    width:85px;
    height:80px;
}

#btnOnoff{
    background: url(imgs/layout/btnOnoff.png);
    background-size:100% auto;
    width:85px;
    height:80px;
}

#btnMenu{
    width:77px;
    height:90px;
    text-align: center;
    line-height: 90px;
    font-size: 30px;
    float:left;
}

#logoSuperior{
    width:150px;
    height:90px;
    float:left;
    padding-left:20px;
}

#logoSuperior img{
    height:80%;
    margin-top:10px;
}



#cedulaSuperior{
    width:250px;
    height:70px;
    margin-top:10px;
    border-left: 3px solid #88b6c6;
    padding-left:15px;
    float:left;
}

/*---------------------------- selector para padecimiento -------------------------- */
#selecPadecimientoContainer{
    position:absolute;
    width:150px;
    height:60px;
    right:70px;
    top:15px;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
}

#knobSPadecimiento{
    position:absolute;
    width:40px;
    height:40px;
    /*background-color:#F00;*/
    border-radius: 25px;
    left:0%;
    margin-left:-20px;
    top:-6px;
    pointer-events: none;
    z-index: 100;
}

#knobSPadecimiento img{
    margin-left:-3px;
    margin-top:-3px;
}

#imgSelecPadecimiento{
    position:absolute;
    height:30px;
    pointer-events: none;
}

/*---------------------------- selector para padecimiento -------------------------- */

/*---------------------------- selector para competencia -------------------------- */
#selecCompetenciaContainer{
    position:absolute;
    width:231px;
    height:60px;
    right:270px;
    top:15px;
    font-family: 'Lato-Regular', sans-serif;
    font-size:12px;
}

#knobSCompetencia{
    position:absolute;
    width:40px;
    height:40px;
    /*background-color:#F00;*/
    border-radius: 25px;
    left:0%;
    margin-left:-20px;
    top:-6px;
    pointer-events: none;
    z-index: 100;
}

#knobSCompetencia img{
    margin-left:-3px;
    margin-top:-3px;
}

#imgSelecCompetencia{
    position:absolute;
    height:30px;
    pointer-events: none;
}

/*---------------------------- selector para competencia -------------------------- */

#btnSiguiente{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:90px;
  background-color:#76AABE;
  color: #FFF;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
}

#btnSiguiente:active{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:90px;
  background-color:#87BBCF;
  color: #FFF;
  text-align: center;
  line-height: 90px;
  font-size: 30px;
}

/* ------------------------------- Para seccion Prevalencia ---------------------- */

#inputPrevalencia{
  font-family: 'Lato-Regular', sans-serif;
  position: absolute;
  left:0;
  right:0;
  top: 200px;
  height:50px;
  line-height: 50px;
  text-align: center;
}

#contentPacientesATratar{
  font-family: 'Lato-Regular', sans-serif;
  position:absolute;
  left:0;
  right:0;
  height:50px;
  background-color: #30333b;
  top:300px;
  color:#FFF;
  line-height: 50px;
  text-align: center;
}

#numPacientesATratar{
  font-family: 'Lato-Black', sans-serif;
  font-size: 25px;
}

#disclaimerPrevalencia{
  position:absolute;
  left:0;
  right:0;
  bottom:70px;
  text-align:center;
  padding-left: 80px;
  padding-right: 80px;
  height:80px;
  color:#888;
}
/* ------------------------------- Para seccion Prevalencia ---------------------- */
/* ------------------------------- Para seccion Resultados ----------------------- */

#resultadosFanv{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: none;
}

#resultadosTvp{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  display: none;
}

#headResultados{
  position:absolute;
  left:0;
  right:0;
  top:0;
  height:60px;
  background-color: #30333b;
  color:#70f1cd;
  font-size: 26px;
  text-align: center;
  line-height: 60px;
  -webkit-border-bottom-right-radius: 30px;
-webkit-border-bottom-left-radius: 30px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
margin-left: 100px;
margin-right: 100px;
}

#headResultados2{
  position:absolute;
  left:0;
  right:0;
  top:0;
  height:60px;
  background-color: #30333b;
  color:#FFF;
  font-size: 26px;
  text-align: center;
  line-height: 60px;
  -webkit-border-bottom-right-radius: 30px;
-webkit-border-bottom-left-radius: 30px;
-moz-border-radius-bottomright: 30px;
-moz-border-radius-bottomleft: 30px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
margin-left: 100px;
margin-right: 100px;
}

#pacientesATratar{
  position:absolute;
  left:0;
  right:0;
  top:70px;
  height:100px;
  text-align: center;
  color: #30333b;
  font-size: 18px;
}

.numPacientes{
  font-family: 'Lato-Black', sans-serif;
  font-size: 37px;
}

#cedulasCompetencias{
  position: absolute;
  left:0;
  right:0;
  top:90px;
  height: 120px;
  padding-left:50px;
  padding-right:0px;
  }

  #cedulaDiab{
    font-family: 'Lato-Black', sans-serif;
    background-image: url(imgs/poblacion/cedulaDiabResultados.png);
    background-repeat: no-repeat;
    height:100%;
    width:320px;
    background-size: auto 100%;
    float:left;
    text-align: center;
    color: #FFF;
    line-height: 170px;
    letter-spacing: 0.07em;
    font-size: 25px;
    padding-left:55px;
  }

  .cedulaOtrasComp{
    background-image: url(imgs/poblacion/cedulaOtrosResultados.png);
    background-repeat: no-repeat;
    height:100%;
    width:320px;
    background-size: auto 100%;
    float:right;
    text-align: center;
    color: #FFF;
    line-height: 170px;
    letter-spacing: 0.07em;
    font-size: 25px;
    padding-left:55px;
  }

  .cedulaOtrasComp2{
    color: #FFF;
    letter-spacing: 0.07em;
    font-size: 25px;
  }

  #tablaResultados{
    position: absolute;
    left:0;
    right:0;
    top:200px;
    height:470px;
    padding-left:50px;
    padding-right:50px;
  }

  .tercioTabla{
    font-family: 'Lato-Regular', sans-serif;
    width:33%;
    height:25px;
    float:left;
    border-bottom:1px solid #40839a;
    color: #30333b;
    text-align: center;
    line-height: 25px;
    font-size:15px;
    letter-spacing: 0.06em;

  }

  .bold{
    font-family: 'Lato-Black', sans-serif;
  }

  .resultadosDown{
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    height:80px;
    background-color:#222;
  }

  .contResultadoDown{
    position: relative;
    float:left;
    width:19.895%;
    height:80px;
    border-left:1px solid #888;
  }

  .cedulaResultadoDown{
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width: 50%;
    background-color: #333;
    text-align: center;
    color: #FFF;
    padding-top:15px;
    font-size: 14px;
  }

  .cifraResultadoDown{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width: 50%;
    background-color: #444;
    line-height: 80px;
    font-size:20px;
    color: #FFF;
  }

  .verde{
    font-size:35px;
    color: #0C9;
    margin-top:0;
  }

/* ------------------------------- Para seccion Resultados ----------------------- */

/* ---------------------------------Para seccion Comparativos -------------------- */

#grafica{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#contBarra1{
  position: absolute;
  width:150px;
  left: 65%;
  bottom:160px;
  -webkit-box-shadow: 3px 3px 43px 2px rgba(0,0,0,0.75);
  background-color:#666;
  z-index: 2;
}

#contBarra2{
  position: absolute;
  width:150px;
  left: 18%;
  bottom:160px;
  -webkit-box-shadow: 3px 3px 43px 2px rgba(0,0,0,0.75);
  background-color:#666;
  z-index: 2;
}

.barra1c1{
  width:150px;
  height:150px;
  background-color: #30333b;
  margin-top:2px;
}

.barra1c2{
  display: block;
  width:150px;
  background-color: #00CC99;
  margin-top:2px;
}

.barra1c3{
  width:150px;
  height:150px;
  background-color: #FF3333;
  margin-top:2px;
}

.barra1c4{
  display: block;
  width:150px;
  background-color: #660066;
  margin-top:2px;
}

.barra1c5{
  width:150px;
  height:150px;
  background-color: #0066FF;
  margin-top:2px;
}

.barra2c1{
  width:150px;
  height:150px;
  background-color: #30333b;
  margin-top:2px;
}

.barra2c2{
  display: block;
  width:150px;
  background-color: #00CC99;
  margin-top:2px;
}

.barra2c3{
  width:150px;
  height:150px;
  background-color: #FF3333;
  margin-top:2px;
}

.barra2c4{
  display: block;
  width:150px;
  background-color: #660066;
  margin-top:2px;
}

.barra2c5{
  width:150px;
  height:150px;
  background-color: #0066FF;
  margin-top:2px;
}

.cedulaBarra{
  font-family: 'Lato-Regular', sans-serif;
  width:120px;
  height:30px;
  padding: 5px;
  font-size: 13px;
  background-color: #FFF;
  margin-left:-135px;
  text-align: center;
  -webkit-transform: translate( 0%, -50%);
  -webkit-border-radius: 5px;
  border: 1px solid #DDDDDD;
  z-index: 2;
}

.cedulaBarra2{
  font-family: 'Lato-Regular', sans-serif;
  width:120px;
  height:30px;
  padding: 5px;
  font-size: 13px;
  background-color: #FFF;
  margin-left:155px;
  text-align: center;
  -webkit-transform: translate( 0%, -50%);
  -webkit-border-radius: 5px;
  border: 1px solid #DDDDDD;
  z-index: 2;
}

#baseGrafica{
  position:absolute;
  width: 840px;
  height: 52px;
  background-image: url(imgs/poblacion/baseGrafica.png);
  background-size: 100% 100%;
  bottom:130px;
  left:50%;
  margin-left: -420px;
  z-index: 0;
}

#disclaimerGrafica{
  position: absolute;
  left:0;
  right:0;
  bottom:90px;
  height:30px;
  color: #666;
  line-height:30px;
  font-size: 15px;
  text-align: center;
}

#overlayGrafica{
  position:absolute;
  left:0;
  right:0;
  bottom:160px;
  height:360px;
  z-index: 1;
}

.renglonOverlayGrafica{
  position: relative;
  width: 100%;
  border-top: 1px solid #555;
  height: 29px;
  opacity: 0.2;
}

/* ---------------------------------Para seccion Comparativos -------------------- */
/* ---------------------------------Para sección Costos -------------------------- */

#tablaCostosFijos{
  font-family: 'Lato-Regular', sans-serif;
  position:absolute;
  left:0;
  right:0;
  bottom:105px;
  height:350px;
  color: #30333b;
  font-size: 18px;
  text-align: center;
}

#tablaCostosFijos2{
  font-family: 'Lato-Regular', sans-serif;
  position:absolute;
  left:0;
  right:0;
  bottom:105px;
  height:350px;
  color: #30333b;
  font-size: 18px;
  text-align: center;
}

.divTablaCostosFijos{
  width:20%;
  height:40px;
  margin-bottom: 5px;
  float:left;
}
.divTablaCostosFijos2{
  font-family: 'Lato-Regular', sans-serif;
  width:18%;
  height:40px;
  background-color: #9DC0C9;
  color: #FFF;
  margin-bottom: 5px;
  line-height: 40px;
  float:left;
  text-align: left;
  padding-left: 2%;
}

.divTablaCostosFijos3{
  font-family: 'Lato-Regular', sans-serif;
  width:18%;
  height:40px;
  background-color: #9DC0C9;
  color: #555;
  margin-bottom: 5px;
  line-height: 40px;
  float:left;
  text-align: left;
  padding-left: 2%;
}

/* ---------------------------------Para sección Costos -------------------------- */
